@import "tailwindcss";

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'LOTR';
  src: url('/fonts/RINGM.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000;
  color: #fff;
  font-family: serif;
}

@layer base {
  .font-lotr {
    font-family: 'LOTR', serif;
  }
}


/* Styling on footer */
.footer-styling {
   @apply w-full h-14 
    flex items-center 
    justify-center 
    text-yellow-300 
    bg-white/10 backdrop-blur-xl 
    shadow-[0_-4px_20px_rgba(255,255,255,0.15)]
}